.active-jl{
    background-color: #378C3F;
}
@media screen and (min-width: 600px) {
    .position-jl{
        position: absolute;
        left: 65px;
    }
}
@media screen and (max-width: 600px) {
    .position-jl{
        position: absolute;
        max-width: 250px;
        margin: 0 auto;
        z-index: 99;
    }
}
